.table{
    margin-bottom: 0px !important;
}
.marg{
    margin-right: 2rem;
}

#ueber{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
}

.container{
    border-radius: 30px !important;
}

.cont{
    margin-left:auto;
    margin-right:auto;
    width: 90%;
}

.navim{
    margin-left: 4%;
}