

.container{
    width: 100% !important;}

.mar{
    margin-bottom: 5%;
}

.b{
    display: none;
}
form{
    background-color: lightslategrey;
    border-radius: 14px;
    padding: 14px;
}
h2{
    margin-top: 15px;
}