body{
    overflow-x: hidden;
}

@media (max-width:992px) {
   
#animalsc{
    background-color: black !important;
}    
.color-collapsed{
    color:white !important;
    border-color: white !important;
    margin-top: 2rem;

}

.back{
    background: rgba(0, 0, 0, 0.5);  
}
}
.Header{

    color: white;
    margin-top: 1rem;
    opacity: 100%;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    }

    body, html {
        height: 100%;
      }
      
      .parallax {
        /* The image used */
        background-image: url("../img/groß.jpg");
      
        /* Full height */
        height: 100%;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .Header:hover{
        color:royalblue;
      }

      #footer{
          height:7rem;
          width: 100vw;
          padding-top: 3rem;
          background: rgba(59, 92, 238, 0.7); 
          text-align: center;
      }
      #foottext{
          color:white;
          font-size:25px;
      }
.imgcard{
    border-radius: 4px;
}


#fontcontent {

    margin-top: 0px;
}
#colorcontent{
    margin-left: 42%;
   
}
#animalcolor{
    justify-items: center;
}
.headback{
    background-color: black;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    margin-top:30px;
    margin-bottom:30px;
}
   
.navbar {max-height:100px !important;}
.itemstyle
{
    font-size: 25px; 
    border-right: solid 1px;
}
.himg{
    padding-top:20%;
    text-align: center;
}
#imgnav{
    width: 4rem; 
    height: 4rem;
}
.himgs{
    text-align: center;
}
.navcolor{
    background-color: rgb(111, 0, 255);
}
.marg{
    margin-top: 50px;
}

.margcard{
    margin-left: 7px;
    margin-right: 7px;
    width: 18rem;
}

.hover:hover{
    text-decoration: underline rgb(255, 255, 255);
    color: white;
}

.countbody{
    border: black solid 1px;
    border-radius: 5px;
    width: 10rem;
    height: 9rem;
    text-align: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.buttoncnt{
    margin-top: 4vh;
}
#lorem{
    justify-self: center;
    width: 50%;
    border: black solid 1px;
  
}

#fontdesign{
    border:black solid 1px;
    background: rgb(135, 93, 168);
    width: 20%;
    text-align: center;
    padding-top: 50px;
    font-size: 16px;
}

#plus{
    width: 15vw;
}

#minus{
    width: 15vw;
}