.headline {
    margin-left: 2vw;
    margin-top: 3vw;
    color: white;
    text-decoration: underline;
}

.headline-issues {
    margin-bottom: -1vw;
}

.alert-size {
    width: 25%;
}

.btn-issue{
    float:right;
}
.foot{
    margin-top: 5% !important;
}

.center{
    margin: auto;
}